.todoapp {
  background: #fff;
  margin: 130px 0 40px 0;
  position: relative;
  box-shadow: 0 2px 4px 0 color(#000 a(0.2)),
              0 25px 50px 0 color(#000 a(0.1));
  input{
    &:-webkit-input-placeholder, &:-moz-placeholder &:input-placeholder{
      font-style: italic;
      font-weight: 300;
      color: #e6e6e6;
    }
  }
}
